<?xml version="1.0" encoding="utf-8" ?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RollingFileAppender"/>
    <!--控制台控制显示日志-->
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="bufferringFallbackAppender" />
    <appender-ref ref="errorBufferringAppender" />
  </root>

  <!--一般错误日志定义，用于记录已知需处理的与未捕获的异常-->

  <!--Fallback Appender, 按配置逐步 Fallback-->
  <appender name="errorBufferringAppender" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="1" />
    <fix value="All" />

    <filter type="log4net.Filter.LevelRangeFilter" >
      <levelMin value="ERROR"/>
      <levelMax value="FATAL"/>
    </filter>

    <appender-ref ref="errorLoggingServiceAppender" />
  </appender>

  <!--Fallback Appender, 按配置逐步 Fallback-->
  <appender name="bufferringFallbackAppender" type="log4net.Appender.FallbackForwardingAppender, DMP.Common.Logging">
    <bufferSize value="1" />
    <fix value="All" />

    <filter type="log4net.Filter.LevelRangeFilter" >
      <levelMin value="INFO"/>
      <levelMax value="WARN"/>
    </filter>

    <appender-ref ref="loggingServiceAppender" />
  </appender>

  <!--输出日志到日志平台，kafka 索引 DMPAUTO_MONITOR_TOPIC_LOG 会同时被日志平台和告警平台订阅 -->
  <appender name="errorLoggingServiceAppender" type="log4net.Appender.LoggingServiceAppender, DMP.Common.Logging">

    <KafkaIndex value="DMPAUTO_MONITOR_TOPIC_LOG" />

    <!--熔断配置-->
    <!--采样时间-->
    <samplingDuration value="180" />
    <!--熔断阈值(0-1)-->
    <failureThreshold value="0.25" />
    <!---->
    <minimumThroughput value="10" />
    <!--熔断时间-->
    <durationOfBreak value="180" />
    <!--熔断配置-->

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
    <layout type='log4net.Layout.TimestampSerializedLayout, DMP.Common.Logging'>
      <decorator type='log4net.Layout.Decorators.JsonStandardTypesDecorator, DMP.Common.Logging' />
      <renderer type='log4net.ObjectRenderer.JsonDotNetRenderer, log4net.Ext.Json.Net'>
        <NullValueHandling value="Ignore" />
        <!--<DateFormatHandling value="IsoDateFormat" />-->
        <!--<Formatting value="Indented" />-->
        <!--<DateFormatString value="yyyy-MM-dd HH:mm:ss.fff" />-->
      </renderer>
      <default />
      <!--explicit default members-->
      <remove value='ndc' />
      <remove value='logger' />
      <remove value='date' />
      <remove value='message' />
      <!--<remove value='exception' />-->
      <remove value='appname' />
      <!--remove the default preformatted message member-->
      <!--System Level-->
      <member value='host|%property{HostIP}' />
      <member value='server:hostname' />
      <!--Application Level-->
      <member value='start_path|%property{start_path}' />
      <member value='pid:processid' />
      <member value='thread|%t' />
      <member value='clazz:logger' />
      <member value='timestamp|%unixtimestamp' />

      <member value='msg:messageObject' />

      <member value='index|dmp-logs' />
      <member value='system|DMP' />

      <!--Biz Trace Level-->
      <!--add raw message-->
    </layout>
  </appender>

  <!--输出日志到日志平台-->
  <appender name="loggingServiceAppender" type="log4net.Appender.LoggingServiceAppender, DMP.Common.Logging">

    <KafkaIndex value="DmpLogs" />

    <!--熔断配置-->
    <!--采样时间-->
    <samplingDuration value="180" />
    <!--熔断阈值(0-1)-->
    <failureThreshold value="0.25" />
    <!---->
    <minimumThroughput value="10" />
    <!--熔断时间-->
    <durationOfBreak value="180" />
    <!--熔断配置-->

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="WARN" />
    </filter>
    <layout type='log4net.Layout.TimestampSerializedLayout, DMP.Common.Logging'>
      <decorator type='log4net.Layout.Decorators.JsonStandardTypesDecorator, DMP.Common.Logging' />
      <renderer type='log4net.ObjectRenderer.JsonDotNetRenderer, log4net.Ext.Json.Net'>
        <NullValueHandling value="Ignore" />
        <!--<DateFormatHandling value="IsoDateFormat" />-->
        <!--<Formatting value="Indented" />-->
        <!--<DateFormatString value="yyyy-MM-dd HH:mm:ss.fff" />-->
      </renderer>
      <default />
      <!--explicit default members-->
      <remove value='ndc' />
      <remove value='logger' />
      <remove value='date' />
      <remove value='message' />
      <!--<remove value='exception' />-->
      <remove value='appname' />
      <!--remove the default preformatted message member-->
      <!--System Level-->
      <member value='host|%property{HostIP}' />
      <member value='server:hostname' />
      <!--Application Level-->
      <member value='start_path|%property{start_path}' />
      <member value='pid:processid' />
      <member value='thread|%t' />
      <member value='clazz:logger' />
      <member value='timestamp|%unixtimestamp' />

      <member value='msg:messageObject' />

      <member value='index|dmp-logs' />
      <member value='system|DMP' />

      <!--Biz Trace Level-->
      <!--add raw message-->
    </layout>
  </appender>

  <!--日志输出格式：[时间]：类名 线程号 消息-->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO"/>
      <levelMax value="FATAL"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
    <file value="../logs/"/>
    <rollingStyle value="Composite"/>
    <datePattern value="&quot;&quot;yyyyMMdd&quot;.log&quot;"/>
    <staticLogFileName value="false"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <maxSizeRollBackups value="-1"/>
    <maximumFileSize value="20MB"/>
    <Encoding value="UTF-8" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%c] [%t] [%-5p] %m%n"/>
    </layout>
  </appender>
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="Info"/>
      <param name="LevelMax" value="Fatal"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fff}] [%c] [%t] [%-5p] %m%n"/>
    </layout>

  </appender>
</log4net>